[user]
	name = Parth Bhargava
	email = 41479054+gitparth12@users.noreply.github.com
[core]
	editor = nvim
[init]
  defaultBranch = "main"
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
